
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
    padding-bottom: 4rem; /* Ensures space for the footer */
}

img {
    max-width: 100%;
    display: block;
    margin: 1rem 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative; /* Change from fixed to relative */
    bottom: 0;
    width: 100%;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}
